<p id="notice"><%= notice %></p>

<h1>Local</h1>

<table>
  <thead>
    <tr>
     
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @locals.each do |local| %>
      <tr>
        <td><h3><%= link_to  local.nome, local %></h3>
          <p><%= image_tag(local.imagem) %> </p>
        </td>
        <td><%= local.descricao %></td>
        
        
       
        <td><%= link_to '', local %></td>
        <td><%= link_to '', edit_local_path(local) %></td>
        <td><%= link_to '', local, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to (button_tag 'Novo Local', type: 'button'), new_local_path %>
<%= link_to (button_tag 'Voltar', type: 'button'), showmaps_useranonimos_path %>