<div class="container">
<div class="jumbotron">

<p id="notice"><%= notice %></p>

<h2>Local</h2>

<table>
  <thead>
    <tr>
     
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @locals.each do |local| %>
      <tr>
        <td><h3><%= link_to  local.nome, local %></h3>
          <p><%= image_tag(local.imagem)%> </p>
        </td>
        <td><h3><%= local.descricao %></h3></td>
        
        
       
        <td><%= link_to '', local %></td>
        <td><%= link_to '', edit_local_path(local) %></td>
        <td><%= link_to '', local, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

</div>

<br>

<%= link_to 'Novo Local', new_local_path, class: "btn btn-default" %>
<%= link_to 'Voltar', showmaps_useranonimos_path, class: "btn btn-default" %>

</div>