<div align='center'>
<p id="notice"><%= notice %></p>

  <%= render 'cabecalho' %>

<%= form_tag(select_local_useranonimos_path, method: "post") do %>
  <h3><%= label_tag( "Informe seu local atual:") %></h3>
  <%= text_field_tag(:local) %>
  <br><br>

  <%= image_tag 'ConhecerRecifeLogo.png', size: '150'%>
  
  <BR>
    <BR>
  <%= submit_tag("Prosseguir") %>
<% end %>
</div>







<!--
  <tbody>
    <% @useranonimos.each do |useranonimo| %>
      <tr>
        <td><%= useranonimo.address %></td>
        <td><%= useranonimo.latitude %></td>
        <td><%= useranonimo.longitude %></td>
        <td><%= link_to 'Show', useranonimo %></td>
        <td><%= link_to 'Edit', edit_useranonimo_path(useranonimo) %></td>
        <td><%= link_to 'Destroy', useranonimo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Useranonimo', new_useranonimo_path %>
-->