<p id="notice"><%= notice %></p>

<%= render 'cabecalho' %>

<BR>
  <BR>
<div align='center'>
<%= form_tag(showmaps_useranonimos_path, method: "get") do %>
  <h3><%= label_tag(:q, "Informe seu local atual:") %></h3>
  <%= text_field_tag(:q) %>
  <BR>
    <BR>
  <%= submit_tag("Informar") %>
<% end %>
</div>








<!--  <tbody>
    <% @useranonimos.each do |useranonimo| %>
      <tr>
        <td><%= useranonimo.local %></td>
        <td><%= link_to 'Show', useranonimo %></td>
        <td><%= link_to 'Edit', edit_useranonimo_path(useranonimo) %></td>
        <td><%= link_to 'Destroy', useranonimo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Useranonimo', new_useranonimo_path %>
-->