<div class="container">

<p id="notice"><%= notice %></p>

<h1>Escolha sua atração! </h1>

      <div class="form-group">
          <%= form_tag (locals_path method: :get ) do %>
            <%= select_tag 'search', options_for_select(['Museu','Mercado Público','Teatro','Feira Livre','Ponte','Shopping']), class: 'btn btn-default'%>
           <!-- %= text_field_tag 'search', nil, placeholder: 'Tipo da atração...' %>   -->
            <button type="submit" class="btn btn-default"> <%= submit_tag ="Ir" %> </button>
          <%end%>
       <!--   <input type="text" class="form-control" placeholder="Pesquisa"> -->
       </div>




<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

</div>


  <tbody >
    <% @buscas.each do |busca| %>
      <tr>
        <td><%= link_to 'Show', busca %></td>
        <td><%= link_to 'Edit', edit_busca_path(busca) %></td>
        <td><%= link_to 'Destroy', busca, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Busca', new_busca_path %>

